html{

	background:#eeeeee;

	width:1000px;

	margin-left:auto;
	
	margin-right:auto;

}

form{
		
	position:relative;
	
	width:300px;

	left:300px;

}

input{

	display:block;

	width:300px;
	font-size:17px;
	border:1px solid #cccccc;
	border-radius:5px;

}

select{

	display:block;

	width:300px;
	font-size:17px;
	border:1px solid #cccccc;
	border-radius:5px;

}

fieldset{

	border:none;
	
	border-top:1px solid #cccccc;

}

fieldset[name=myLibrary]{

	border-top:2px solid #bbbbbb;

}

legend{

	font-size:18px;
	color:#777777;

}

label{

	font-size:25px;

	color:#999999;

}

input[type=submit]{

	font-size:20px;

	border:1px solid #bbbbbb;

	background:#eeeeee;

	border-radius:5px;

	padding:5px;

	color:#666666;

	cursor:pointer;

}